@media only screen and (max-width: 576px){
    .container {
        width: 100%;
    }

    /* Header start  */
    .navbar{
        flex-direction: column;
        text-align: center;
    }
    .menu ul{
        flex-direction: column;
        margin-top: 15px;
        font-size: 1.7em;
    }
    .header-content{
        width: 100%;
        margin-top: 20px;
    }

    /* Main Start & Feature  */
    .feature-images {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-area{
        flex-direction: column;
    }
    .feature-content{
        width: 90%;
        margin-left: 25px;
        margin-top: 15px;
    }
    .feature-love{
        flex-direction: column;
        margin-bottom: 210px;
    }
    .love-content{
        width: 90%;
        padding-left: 10px;
    }
    .love-tittle {
        width: 100%;
    }
    .love-image img {
        width: 95%;
        padding-left: 10px;
    }
    .experience-btn{
        top: 101%;
        left: 10px;
        width: 95%;
    }

    /* Start About Company  */
    .content-area, .sponsors-content{
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
    .about-items{
       flex-direction: column;
       row-gap: 30px;
    }
    .about-item{
        width: 100%;
        text-align: center;
    }
    .about-item:hover{
        transform: translateY(-40px) scale(.8);

    }
    .sponsor-items{
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

/* Contact Us section  */
    .contact-tittle::after{
        left: 25%;
    }
    .contact-container{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    .map iframe{
        width: 100%;
    }
}